.texto{
    border: 1px dashed grey;
}

.container > img{
    width: 45%;
}

.texto{
    width: 54%;
}

.container{
    border:1px solid grey;
    display:flex;
    justify-content: space-between;
}

.marcado{
    color: darkmagenta;
}

.imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 44%;
    justify-content: space-around;
}

.imagens > img{
    width: 100%;
}

#tex{
    display: flex;
    justify-content: center;
}

#bot{
    display: flex;
    justify-content: center;
    width: 150px;
}

#bott{
    display: flex;
    justify-content: center;
    width: 1000px;
}